

<div class="container">
  <h1>Synthesizer</h1>
  <div class="synth">

    <div class="touch-move-scroll-blocker"></div>

    <div class="modules">

      <div class="module osc">
        <div class="slider waveform">
          <span class="label">Osc</span>
          <input type="range" id="osc-shape" min="0" max="3" step="1" value="4" />
        </div>
      </div>


      <div class="module lpf">
        <div class="slider">
          <span class="label">Freq</span>
          <input type="range" id="lpf-freq" min="0" max="1" step=".05" value=".7" />
        </div>


        <div class="slider">
          <span class="label">Resolution</span>
          <input type="range" id="lpf-res" min="0" max="1" step=".01" value=".4" />
        </div>

      </div>

      <div class="module env">

        <div class="slider">
          <span class="label">Attack</span>
          <input type="range" id="env-attack" min="0.0" max="3.0" step=".01" value="0.2" />
        </div>

        <div class="slider">
          <span class="label">Decay</span>
          <input type="range" id="env-decay" min="0.0" max="3.0" step="1" value="3.0" />
        </div>

        <div class="slider">
          <span class="label">Sustain</span>
          <input type="range" id="env-sustain" min="0.0" max="1.0" step=".01" value="1.0" />
        </div>

        <div class="slider">
          <span class="label">Release</span>
          <input type="range" id="env-release" min="0.0" max="3.0" step=".01" value="1.0" />
        </div>

        <div class="slider">
          <span class="label">Octave</span>
          <input type="range" id="osc-octave" min="0" max="6" step="1" value="3" />
        </div>

        <div class="slider">
          <span class="label">Glide</span>
          <input type="range" id="osc-portamento" min="0" max="1" step="0.1" value="1" />
        </div>

      </div>

    </div>
    <h4>Recording</h4>
  <button id="start-recording">Start</button>
  <button id="stop-recording" disabled>Stop</button>

      <!--OCTAVE 1-->
      <!--<div class="octave1">-->
      <!-- <div id="synth"> -->


    <div class="piano-keys">
        <div class="key natural C" id="C" data-note="C" data-octaveSet="0">A
          <div class="key sharp Csharp4" id="Csharp4" data-note="C#" data-octaveSet="0">W</div>
        </div>

        <div class="key D4 natural" id="D4" data-note="D">S
          <div class="key Dsharp4 sharp" id="Dsharp4" data-note="Dsharp">E</div>
        </div>

        <div class="key E4 natural" id="E4" data-note="E"><span class="key-text">D</span>D</div>

        <div class="key F4 natural" id="F4" data-note="F">F
          <div class="key Fsharp4 sharp" id="Fsharp4" data-note="Fsharp">T</div>
        </div>

        <div class="key G4 natural" id="G4" data-note="G">G
          <div class="key Gsharp4 sharp" id="Gsharp4" data-note="Gsharp">Y</div>
        </div>

        <div class="key A4 natural" id="A4" data-note="A">H
          <div class="key Asharp4 sharp" id="Asharp4"  data-note="Asharp">U</div>

        </div>
        <div class="key B4 natural" id="B4" data-note="B">J</div>
      <!--</div>-->

      <!--OCTAVE 2-->
      <!--<div class="octave2">-->
        <div class="key C5 natural" id="C5" data-note="Cb" data-octave="1">K
          <div class="key Csharp5 sharp" id="Csharp5" data-note="Csharpb" data-octave="1">O</div>
        </div>

        <div class="key D5 natural" id="D5" data-note="Db">L
          <div class="key Dsharp5 sharp" id="Dsharp5" data-note="D#b">P</div>
        </div>

        <div class="key E5 natural" id="E5" data-note="Eb">:</div>

      <!--  <div class="key Fb natural" id="" data-note="Fb">Fb
          <div class="key F#b sharp" id="" data-note="F#b">F#b</div>
        </div>

        <div class="key Gb natural" id="" data-note="Gb">Gb
          <div class="key G#b sharp" id="" data-note="G#b">G#b</div>
        </div>

        <div class="key Ab natural" id="" data-note="Ab">Ab
          <div class="key A#b" id="sharp"  data-note="A#b">A#b</div>
        </div>

        <div class="key Bb natural" id="" data-note="Bb"></div> -->
      <!--</div>-->
      <!-- </div> -->
    </div>
    <div class='show'>
      <h1>C4</h1>
      <h1>C#4</h1>
      <h1>D4</h1>
      <h1>D#4</h1>
      <h1>E4</h1>
      <h1>F4</h1>
      <h1>F#4</h1>
      <h1>G4</h1>
      <h1>G#4</h1>
      <h1>A4</h1>
      <h1>A#4</h1>
      <h1>B4</h1>
      <h1>C5</h1>
      <h1>C#5</h1>
      <h1>D5</h1>
      <h1>D#5</h1>
    </div>
  </div>
</div>
